<!-- Config file for the game -->

<config>

  <!-- App Configuration -->
  <app framerate="0" />
  
  <!-- Each module has its own node. Separate configuration -->

  <window>
    <resolution width="1280" height="800" scale="1"  />
    <properties borderless='false'
                fullscreen='false' 
                resizable='false'
                windowed='false' />
    <name>Element Fury</name>
  </window>

  <render vsync='false'>
  </render>

  <level_manager>
    <general_conf num_of_levels='3' />

    <levels_data>
      <level1 fire_ratio='40'
              ice_ratio='50'
              grass_ratio='10'/>
      <level2 fire_ratio='30'
               ice_ratio='40'
               grass_ratio='30'/>
      <level3 fire_ratio='10'
              ice_ratio='10'
              grass_ratio='80'/>
    </levels_data>
    
  </level_manager>

  <file_system>
    <path>data.zip</path>
  </file_system>
  
</config>