<!-- Config file for the game -->

<config>

  <!-- App Configuration -->
  <app framerate="0" />
  
  <!-- Each module has its own node. Separate configuration -->
  <input>
  </input>

  <window>
    <resolution width="1920" height="1080" scale="1"  />
    <properties borderless='true'
                fullscreen='true' 
                resizable='false'
                windowed='false' />
    <name>Element Fury</name>
  </window>

  <render vsync='false'>
  </render>

  <file_system>
    <path>data.zip</path>
  </file_system>
  
</config>